.container-footer{

}

header{
    background-image: url(background.jpg);
    background-size: 100%;
}

.logo {
    margin-left: 14px;
    margin-top: 0px;
}

.black {
    background: rgb(0, 0, 0);
    filter: brightness(5%);
}
